<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender class="org.apache.log4j.ConsoleAppender" name="console">
		<param name="Encoding" value="UTF-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%-5p %c{1}] {%x} %m%n" />
		</layout>
	</appender>
	
	<appender name="mainlog" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="Encoding" value="UTF-8" />
		<param name="File" value="${home.ferrari.log4j.path}/ferrari.log" />
		<param name="DatePattern" value="'-'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{yyyy-MM-dd HH\:mm\:ss,SSS} %5p [%t] (%F\:%L) - %m%n" />
		</layout>
	</appender>
	
	<!-- 定时器日志 -->
	<appender name="schedulelog" class="org.apache.log4j.DailyRollingFileAppender"> 
  		<param name="Encoding" value="UTF-8" />   
        <param name="File" value="${home.ferrari.log4j.path}/schedule/schedule.log" />
        <param name="DatePattern" value="'-'yyyy-MM-dd" />
        <layout class="org.apache.log4j.PatternLayout">  
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH\:mm\:ss,SSS} %5p [%t] (%F\:%L) - %m%n"/>  
        </layout>  
	</appender>  
	

	<category additivity="true" name="com.home">
		<level value="ERROR" />
	</category>
	<category additivity="false" name="com.home.ferrari.service.jobs">
		<level value="ERROR" />
        <appender-ref ref="schedulelog"/>
	</category>
	<category additivity="true" name="java.sql">
		<level value="ERROR" />
	</category>
	<category additivity="true" name="com.ibatis">
		<level value="ERROR" />
	</category>
	<category additivity="true" name="org.mybatis.spring">
		<level value="ERROR" />
	</category>
	<category additivity="true" name="org.apache.ibatis">
		<level value="ERROR" />
	</category>

	<root>
		<priority value="ERROR" />
		<appender-ref ref="mainlog" />
		<appender-ref ref="console" />
	</root>

</log4j:configuration>