<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.home.ferrari.crmdao.crm.CrmComplainDao">
	<insert id="insertCrmComplain" parameterType="com.home.ferrari.vo.crm.CrmComplain" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO t_crm_complain (
		    crm_shop_name,
		    operator_id,
			remark,
			create_time
		)
		VALUES(
			#{crmShopName},
			#{operatorId},
			#{remark},
			NOW()
		)
	</insert>
	
	<select id="getCrmComplainList" resultType="com.home.ferrari.vo.crm.CrmComplain">
		SELECT crm_shop_name crmShopName,
		    operator_id operatorId,
			remark remark,
			create_time createTime
		FROM t_crm_complain
		<where>
		 	<if test="operatorId != null">
		 		operator_id = #{operatorId}
		 	</if>
		</where>
	</select>
	<select id="countCrmComplainList" resultType="int">
		SELECT count(*)
		FROM t_crm_complain
		<where>
		 	<if test="operatorId != null">
		 		operator_id = #{operatorId}
		 	</if>
		</where>
	</select>

	<select id="getCrmComplainById" resultType="com.home.ferrari.vo.crm.CrmComplain">
		SELECT crm_shop_name crmShopName,
		    operator_id operatorId,
			remark remark,
			create_time createTime
		FROM t_crm_complain
		<where>
			id=#{complainId}
		</where>
	</select>
</mapper>